body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  height: 3000px;
}

// Navbar //

.navbar {
  background-color: $blue-primary;

  .navbar-brand {
    strong {
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: .2rem;
    }

    small {
      font-size: 1.3rem;
      letter-spacing: .1rem;
    }
  }

  .nav-item {
    margin-left: 1rem;
    transition: all .5s, border-radius 0s;

    &:hover {
      background-color: $blue-primary-link-hover;
      border-bottom: 3px solid $blue-primary-link-borders;
      border-radius: 5px;
    }

    &.active {
      background-color: $blue-primary-link-hover;
      border-bottom: 3px solid $blue-primary-link-borders;
      border-radius: 5px;
    }

    &.dropdown.active {
      background-color: $red-primary;
      border-bottom: 3px solid $red-secondary;
      border-radius: 5px;
    }
  }

  .nav-link {
    color: white !important;
    font-size: .8rem;
    font-weight: 600;
    padding: .25rem .9rem .4rem !important;
    text-transform: uppercase;
  }

  .dropdown-menu {
    background-color: $red-secondary;
    margin-top: 1rem;
    padding: 0 5px;
    position: relative;

    &::before {
      border-bottom: 8px solid $red-secondary;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: '';
      display: inline-block;
      left: 10px;
      position: absolute;
      top: -8px;
    }

    .dropdown-item {
      background-color: $red-primary;
      border-radius: 5px;
      color: white;
      font-size: .85rem;
      font-weight: 600;
      margin: 5px 0;
      padding-left: .5rem;
      padding-right: 1rem;
      transition: all .2s, border-radius 0s;

      &:hover {
        background-color: $blue-primary;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .fa {
    margin-right: 5px;
  }

  .form-group {
    background-color: $blue-secondary;
    border-radius: 25px;
    display: inline-block;

    // float: right !important;
    height: 32px;
    margin-left: 30px;
    position: relative;
    transition: all .5s, border-radius 0s;
    width: 32px;

    .form-control {
      background: transparent;
      border: 0 none;
      box-shadow: none;
      color: #fff;
      display: block;
      padding-right: 20px;
    }

    .form-control::-webkit-input-placeholder {
      display: none;
    }

    .form-control::-moz-placeholder {
      // Firefox 18- //
      display: none;
    }

    .form-control:-ms-input-placeholder {
      display: none;
    }

    &.active {
      border-radius: 4px 25px 25px 4px;
      margin-left: 0;
      transform: translate3d(30px, 0, 0);
      width: 19%;
    }

    .form-control-feedback {
      color: #fff;
      cursor: pointer;
      display: block;
      left: initial;
      position: absolute;
      right: 3px;
      text-align: center;
      top: 7px;
      z-index: 2;
    }
  }
}

// End Of Navbar
//=======================================================//
// Showcase //

.carousel {
  img {
    height: 570px;
  }

  .carousel-item::after {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .carousel-indicators {
    bottom: -50px;

    li {
      background-color: $blue-primary-text;
      height: 5px;
      margin-right: 10px;
      width: 60px;

      &.active {
        background-color: $red-secondary;
      }
    }
  }

  .carousel-caption {
    bottom: 30%;

    h1 {
      background-color: $red-secondary;
      border-radius: 5px;
      font-weight: 900;
      margin-left: auto;
      margin-right: auto;
      width: 41%;
    }

    p {
      background-color: rgba(41, 45, 45, 0.8);;
      border-radius: 5px;
      font-size: 1.1rem;
      margin-left: auto;
      margin-right: auto;
      padding: 15px 30px;
      width: 52%;
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
    width: 48.86px;

    span {
      background-color: $red-primary;
      border-bottom: 3px solid $red-secondary;
      font-size: 40px;
    }
  }

  .carousel-control-prev {
    span {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      padding: 10px 15px 10px 11px;
    }
  }

  .carousel-control-next {
    span {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      padding: 10px 11px 10px 15px;
    }
  }
}

// End Of Showcase
//======================================================= //

// INTRO //
#intro {
  .alert {
    border: 0;
    margin-top: 4rem;
    padding: 1rem 2rem;

    h3 {
      color: $blue-primary-text;
    }

    p {
      color: $blue-secondary-text;
      font-size: 13px;
      margin-bottom: 0;
    }

    button {
      background-color: $red-primary;
      border-bottom: 4px solid $red-secondary;
      color: white;
      padding: .6rem 2.5rem;
    }
  }
}

// End Of INTRO
//======================================================= //

// SERVICES //
#services {
  .card {
    background-color: #f8f8f8;
    border: 0;
    border-bottom: 4px solid #e5e6e6;
    border-radius: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5rem;
    position: relative;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    transition: box-shadow .2s ease-in-out;

    .card-body {
      padding-bottom: 1.5rem;

      i {
        color: $blue-primary;
        font-size: 3.5rem;
      }

      .card-title {
        color: $blue-primary-text;
        font-size: 1rem;
        font-weight: 800;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
      }

      p {
        color: $blue-secondary-text;
        font-size: 13px;
      }

      button {
        background-color: $blue-primary;
        border-bottom: 4px solid $blue-secondary;
        bottom: -25px;
        color: white;
        left: 38px;

        // margin-bottom: -70px;
        padding: .6rem 2.5rem;
        position: absolute;
      }
    }

    &:hover, &.active {
      background-color: white;
      box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);

      .card-body {
        i {
          color: $red-secondary;
        }

        button {
          background-color: $red-primary;
          border-bottom-color: $red-secondary;
        }
      }
    }
  }
}

// End Of SERVICES
//======================================================= //

// ABOUT //

#about {
  background-color: #ececec;
  height: 400px;

  .container {
    margin-top: 100px;
    position: relative;
  }

  .about-heading {
    margin-bottom: 9rem;
    padding-top: 50px;

    h1 {
      color: $red-secondary;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
    }

    p {
      color: $blue-secondary-text;
    }
  }

  .browser-windows {
    border: 6px solid #c1c7c8;
    border-radius: 10px;

    .top {
      background: #c1c7c8;
      padding: 10px;

      .dot {
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        height: 12px;
        margin-right: 5px;
        width: 12px;
      }

      .dot-right {
        background-color: #fff;
        border-radius: 30%;
        display: inline-block;
        height: 6px;
        margin-bottom: 6px;
        width: 12px;
      }
    }

    .content-1, .content-2, .content-3 {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .holder_bu_center {
    .browser-windows {
      .content-1 {
        background: url("../img/img-1.jpeg") no-repeat center;
        background-size: cover;
        height: 320px;
        width: 580px;
      }

      .content-2 {
        background: url("../img/img-2.jpeg") no-repeat center;
        background-size: cover;
        height: 320px;
        width: 580px;
      }

      .content-3 {
        background: url("../img/img-3.jpeg") no-repeat center;
        background-size: cover;
        height: 320px;
        width: 580px;
      }
    }
  }

  // End of .holder_bu_center //

  .holder_bu_awayL1, .holder_bu_awayR1 {
    .browser-windows {
      .content-1 {
        background: url("../img/img-1.jpeg") no-repeat center;
        background-size: cover;
        height: 225px;
        width: 392px;
      }

      .content-2 {
        background: url("../img/img-2.jpeg") no-repeat center;
        background-size: cover;
        height: 225px;
        width: 392px;
      }

      .content-3 {
        background: url("../img/img-3.jpeg") no-repeat center;
        background-size: cover;
        height: 225px;
        width: 392px;
      }
    }
  }

  // End of .holder_bu_awayL1 //
}

// End Of ABOUT
//======================================================= //

// WAY CHOOSE US //
#way-us {
  margin-top: 16rem;

  h6 {
    color: $blue-primary-text;
    font-weight: 900;
  }

  li {
    color: $blue-secondary-text;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
    i {
      color: $red-secondary;
      font-size: 11px;
    }
  }
}

// WAY CHOOSE US
//======================================================= //
