body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}

// Constant Styles //
a {
  &:hover {
    text-decoration: none;

    i.fa.fa-facebook-f {
      color: #3B5998;
    }

    i.fa.fa-twitter {
      color: #1DA1F2;
    }

    i.fa.fa-google-plus {
      color: #DB4437;
    }

    i.fa.fa-linkedin {
      color: #0077B5;
    }

    i.fa.fa-rss {
      color: #f26522;
    }
  }
}

/* End Of Constant Styles
*************************************************/

// Navbar //
.navbar {
  background-color: $blue-primary;

  .navbar-brand {
    strong {
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: .2rem;
    }

    small {
      font-size: 1.3rem;
      letter-spacing: .1rem;
    }
  }

  .nav-item {
    transition: all .5s, border-radius 0s;

    &:hover {
      background-color: $blue-primary-link-hover;
      border-bottom: 3px solid $blue-primary-link-borders;
      border-radius: 5px;
    }

    &.active {
      background-color: $blue-primary-link-hover;
      border-bottom: 3px solid $blue-primary-link-borders;
      border-radius: 5px;
    }

    &.dropdown.active, &.dropdown.show {
      background-color: $red-primary;
      border-bottom: 3px solid $red-secondary;
      border-radius: 5px;
    }
  }

  .nav-link {
    color: white !important;
    font-size: .8rem;
    font-weight: 600;
    padding: .25rem .9rem .4rem !important;
    text-transform: uppercase;
  }

  .dropdown-menu {
    background-color: $red-secondary;
    margin-top: 1rem;
    padding: 0 5px;
    position: relative;

    &::before {
      border-bottom: 8px solid $red-secondary;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: '';
      display: inline-block;
      left: 10px;
      position: absolute;
      top: -8px;
    }

    .dropdown-item {
      background-color: $red-primary;
      border-radius: 5px;
      color: white;
      font-size: .85rem;
      font-weight: 600;
      margin: 5px 0;
      padding-left: .5rem;
      padding-right: 1rem;
      transition: all .2s, border-radius 0s;

      &:hover, &.active {
        background-color: $blue-primary;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .fa {
    margin-right: 5px;
  }

  .form-group {
    background-color: $blue-secondary;
    border-radius: 25px;
    display: inline-block;
    height: 32px;
    margin-left: 30px;
    position: relative;
    transition: all .5s, border-radius 0s;
    width: 32px;

    .form-control {
      background: transparent;
      border: 0 none;
      box-shadow: none;
      color: #fff;
      display: block;
      padding-right: 20px;
    }

    .form-control::-webkit-input-placeholder {
      display: none;
    }

    .form-control::-moz-placeholder {
      // Firefox 18- //
      display: none;
    }

    .form-control:-ms-input-placeholder {
      display: none;
    }

    &.active {
      border-radius: 4px 25px 25px 4px;
      margin-left: 0;
      transform: translate3d(30px, 0, 0);
      width: 19%;
    }

    @media (max-width: 1199.98px) {
      &.active {
        width: 15%;
      }
    }

    .form-control-feedback {
      color: #fff;
      cursor: pointer;
      display: block;
      left: initial;
      position: absolute;
      right: 3px;
      text-align: center;
      top: 7px;
      z-index: 2;
    }
  }
}

// End Of Navbar
//=======================================================//
// Showcase //

// Showcase //
#showcase {
  .carousel {
    img {
      max-height: 570px;
      height: auto;
    }

    .carousel-item::after {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .carousel-indicators {
      bottom: -50px;

      li {
        background-color: $blue-primary-text;
        height: 5px;
        margin-right: 10px;
        width: 60px;

        &.active {
          background-color: $red-secondary;
        }
      }
    }

    .carousel-caption {
      bottom: 30%;

      h1 {
        background-color: $red-secondary;
        border-radius: 5px;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
        width: 41%;
      }

      p {
        background-color: rgba(41, 45, 45, 0.8);
        border-radius: 5px;
        font-size: 1.1rem;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 30px;
        width: 52%;
      }

      @media (min-width: 1024px) and (max-width: 1199.98px) {
        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1rem;
        }
      }

      @media (max-width: 1023.98px) {
        h1 {
          font-size: 2rem;
        }

        p {
          font-size: .7rem;
        }
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
      width: 48.86px;

      span {
        background-color: $red-primary;
        border-bottom: 3px solid $red-secondary;
        font-size: 40px;
      }
    }

    .carousel-control-prev {
      span {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 15px 10px 11px;
      }
    }

    .carousel-control-next {
      span {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        padding: 10px 11px 10px 15px;
      }
    }
  }

  @media (max-width: 425px) {
    .carousel {
      .carousel-indicators {
        li {
          height: 5px;
          width: 40px;
        }
      }

      .carousel-control-next,
      .carousel-control-prev {
        opacity: 1;
        width: 36.86px;

        span {
          background-color: $red-primary;
          border-bottom: 3px solid $red-secondary;
          font-size: 20px;
        }
      }
    }
  }
}

// End Of Showcase
//======================================================= //

// INTRO //
#intro {
  .row {
    border: 0;
    margin-top: 4rem;
    padding: 1.5rem 2rem;
    background-color: #ececec;
    border-radius: 5px;

    h3 {
      color: $blue-secondary-text;
      font-weight: 600;
    }

    p {
      color: $blue-secondary-text;
      font-size: 13px;
      margin-bottom: 0;
    }

    button {
      background-color: $red-primary;
      border-bottom: 4px solid $red-secondary;
      color: white;
      padding: .6rem 2.5rem;
    }
  }

  @media (max-width: 425px) {
    h3 {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 375px) {
    h3 {
      font-size: 1.1rem;
    }
  }
}

// End Of INTRO
//======================================================= //

// SERVICES //
#services {
  .card {
    background-color: #f8f8f8;
    border: 0;
    border-bottom: 4px solid #e5e6e6;
    border-radius: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5rem;
    position: relative;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    transition: box-shadow .2s ease-in-out;
    width: 100%;
    height: 100%;

    .card-body {
      padding-bottom: 1.5rem;

      i {
        color: $blue-primary;
        font-size: 3.5rem;
      }

      .card-title {
        color: $blue-secondary-text;
        font-size: 1rem;
        font-weight: 800;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
      }

      p {
        color: $blue-secondary-text;
        font-size: 13px;
      }

      button {
        background-color: $blue-primary;
        border-bottom: 4px solid $blue-secondary;
        bottom: -25px;
        color: white;
        left: 38px;
        padding: .6rem 2.5rem;
        position: absolute;
      }
    }

    &:hover, &.active {
      background-color: white;
      box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);

      .card-body {
        i {
          color: $red-secondary;
        }

        button {
          background-color: $red-primary;
          border-bottom-color: $red-secondary;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
      .card-body {
        button {
          bottom: -20px;
          left: 38px;
          padding: .4rem 1.7rem;
          font-size: 1rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .card {
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      .card-body {
        button {
          padding: .6rem 2.8rem;
        }
      }
    }
  }

  @media (min-width: 425px) and (max-width: 575.98px) {
    .card {
      width: 70%;
      margin-left: auto;
      margin-right: auto;

      .card-body {
        button {
          padding: .6rem 3.2rem;
        }
      }
    }
  }

  @media (min-width: 375px) and (max-width: 424.98px) {
    .card {
      width: 75%;
      margin-left: auto;
      margin-right: auto;

      .card-body {
        button {
          padding: .6rem 2.5rem;
        }
      }
    }
  }

  @media (min-width: 411px) and (max-width: 414px) {
    .card {
      .card-body {
        button {
          padding: .6rem 3.6rem;
        }
      }
    }
  }

  @media (max-width: 374.98px) {
    .card {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      .card-body {
        button {
          padding: .6rem 2.6rem;
        }
      }
    }
  }

  @media (min-width: 359.98px) and (max-width: 360px) {
    .card {
      .card-body {
        button {
          padding: .6rem 3.6rem;
        }
      }
    }
  }
}

// End Of SERVICES
//======================================================= //

// ABOUT //
#about {
  background-color: #ececec;
  height: 420px;
  margin-bottom: 30rem;

  .container {
    margin-top: 100px;
    position: relative;

    .browser-slider {
      margin-bottom: 24rem;

      .about-heading {
        margin-bottom: 8rem;
        padding-top: 50px;

        h1 {
          color: $red-secondary;
          font-weight: 600;
          font-family: 'Open Sans', sans-serif;
        }

        p {
          color: $blue-secondary-text;
        }
      }

      .browser-windows {
        border: 6px solid #c1c7c8;
        border-radius: 10px;

        .top {
          background: #c1c7c8;
          padding: 10px;

          .dot {
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            height: 12px;
            margin-right: 5px;
            width: 12px;
          }

          .dot-right {
            background-color: #fff;
            border-radius: 30%;
            display: inline-block;
            height: 6px;
            margin-bottom: 6px;
            width: 12px;
          }
        }

        .content-1, .content-2, .content-3 {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }

      .holder_bu_center {
        .browser-windows {
          .content-1 {
            background: url("../img/img-1.jpeg") no-repeat center;
            background-size: cover;
            height: 320px;
            width: 580px;
          }

          .content-2 {
            background: url("../img/img-2.jpeg") no-repeat center;
            background-size: cover;
            height: 320px;
            width: 580px;
          }

          .content-3 {
            background: url("../img/img-3.jpeg") no-repeat center;
            background-size: cover;
            height: 320px;
            width: 580px;
          }
        }
      }

      // End of .holder_bu_center //

      .holder_bu_awayL1, .holder_bu_awayR1 {
        .browser-windows {
          .content-1 {
            background: url("../img/img-1.jpeg") no-repeat center;
            background-size: cover;
            height: 225px;
            width: 392px;
          }

          .content-2 {
            background: url("../img/img-2.jpeg") no-repeat center;
            background-size: cover;
            height: 225px;
            width: 392px;
          }

          .content-3 {
            background: url("../img/img-3.jpeg") no-repeat center;
            background-size: cover;
            height: 225px;
            width: 392px;
          }
        }
      }

      // End of .holder_bu_awayL1 //

    }
  }

  // End Of browser-slider
  @media (max-width: 1023.98px) {
    height: 250px;
    margin-bottom: 30rem;

    .container {
      .browser-slider {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 767.98px) and (max-width: 768px) {
    margin-bottom: 38rem;
    height: 400px;

    .container {
      .browser-slider {
        margin-bottom: 15rem;

        .about-heading {
          margin-bottom: 9rem;
          padding-top: 50px;
        }

        .browser-windows {
          border: 3px solid #c1c7c8;

          .top {
            padding: 5px;

            .dot {
              height: 8px;
              width: 8px;
            }

            .dot-right {
              height: 4px;
              width: 8px;
            }
          }
        }

        .holder_bu_center {
          .browser-windows {
            .content-1 {
              background: url("../img/img-1.jpeg") no-repeat center;
              background-size: cover;
              height: 200px;
              width: 400px;
            }

            .content-2 {
              background: url("../img/img-2.jpeg") no-repeat center;
              background-size: cover;
              height: 200px;
              width: 400px;
            }

            .content-3 {
              background: url("../img/img-3.jpeg") no-repeat center;
              background-size: cover;
              height: 200px;
              width: 400px;
            }
          }
        }

        // End of .holder_bu_center //

        .holder_bu_awayL1, .holder_bu_awayR1 {
          .browser-windows {
            .content-1 {
              background: url("../img/img-1.jpeg") no-repeat center;
              background-size: cover;
              height: 125px;
              width: 250px;
            }

            .content-2 {
              background: url("../img/img-2.jpeg") no-repeat center;
              background-size: cover;
              height: 125px;
              width: 250px;
            }

            .content-3 {
              background: url("../img/img-3.jpeg") no-repeat center;
              background-size: cover;
              height: 125px;
              width: 250px;
            }
          }
        }

        // End of .holder_bu_awayL1 //

      }
    }
  }

  @media (max-width: 767.98px) {
    margin-bottom: 52rem;

    .container {
      .browser-slider {
        .about-heading {
          margin-bottom: 3rem;
          padding-top: 50px;
        }
      }
    }
  }

  @media (min-width: 375px) and (max-width: 425px) {
    .container {
      .browser-slider {
        .about-heading {
          h1 {
            font-size: 2rem;
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    .container {
      .browser-slider {
        .about-heading {
          h1 {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

// End Of ABOUT
//======================================================= //

// second-about //
.second-about {
  h6 {
    color: $blue-secondary-text;
    font-weight: 900;
  }

  // WAY CHOOSE US //
  #way-us, #planning, #development {
    li {
      color: $blue-secondary-text;
      font-size: 13px;
      font-weight: 600;
      padding-bottom: 5px;

      i {
        color: $red-secondary;
        font-size: 11px;
      }
    }
  }

  // End Of WAY CHOOSE US

  // SKILLS //
  #skills {
    .chart-heading {
      color: $blue-secondary-text;
    }
  }

  // End Of SKILLS

  // TESTIMONIAL //
  #testimonial {
    .card {
      &::before {
        border-top: 25px solid #fff;
        border-left: 22px solid transparent;
        border-right: 0px solid transparent;
        content: '';
        display: inline-block;
        left: 20px;
        position: absolute;
        bottom: -25px;
      }

      .card-body {
        padding: .7rem;
        color: $blue-secondary-text;
        font-size: 12px;
        font-style: italic;
        line-height: 2;
      }
    }

    .t-name {
      p {
        color: $blue-secondary-text;
        font-size: 16px;
        font-weight: 700;
        padding-top: 10px;
        margin-left: 60px;
      }
    }
  }

  // End Of TESTIMONIAL
}

// End Of second-about //

// Clients //
#clients {
  #clients-slider {
    h6 {
      margin-bottom: 0;
      color: $blue-secondary-text;
      font-weight: 900;
    }

    .carousel-indicators {
      margin-right: auto;
      margin-left: auto;
      bottom: 0;
      left: -5px;
      margin-bottom: 12px;

      li {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin-right: auto;
        opacity: 0;
        background-color: $blue-primary-text;

        &.active {
          opacity: 1;
        }
      }

      hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
    }

    .card {
      border: 0;
      max-width: 170px;
      max-height: 90px;
    }

    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;

      span {
        background-color: $blue-primary-text;
        border-bottom: 3px solid $blue-secondary-text;
        font-size: 27px;
        font-weight: 900;

        &:hover {
          background-color: $red-primary;
          border-bottom: 3px solid $red-secondary;
        }
      }
    }

    .carousel-control-prev {
      span {
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
      }
    }

    .carousel-control-next {
      right: 25px;

      span {
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
      }
    }
  }

  @media (max-width: 767.98px) {
    display: none;
  }
}

// End Of Clients
//======================================================= //

// Footer //
footer {
  .info-footer {
    color: #fff;
    background-color: $blue-primary;
    margin-top: 3.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;

    p {
      font-size: 13px;
    }

    .contact-info {
      h2 {
        margin-bottom: 1.2rem;

        strong {
          font-size: 1.8rem;
          font-weight: 800;
        }

        small {
          font-size: 1.5rem;
          margin-left: 5px;
        }
      }

      .phone, .email {
        span {
          font-size: 1.2rem;
          font-style: italic;
          font-weight: 600;
        }
      }
    }

    .footer-nav {
      h6 {
        font-size: 20px;
        font-weight: 700;
        color: #497e79;
        margin-bottom: 2rem;
      }

      ul {
        padding-left: 1.5rem;

        a {
          color: #fff;

          li {
            font-size: 13px;
            margin-bottom: .3rem;

            i {
              padding-right: .5rem;
            }
          }
        }
      }
    }

    .from-blog {
      h5 {
        font-style: italic;
        margin-bottom: 2rem;
        font-weight: 300;

        strong {
          font-style: initial;
          font-weight: 700;
        }
      }

      img {
        width: 70px;
        height: 70px;
        background-color: #5e9f9a;
        padding: 1rem;
      }

      p {
        margin-bottom: 0;
      }

      .post-date {
        color: #497e79;
      }
    }
  }

  .social-footer {
    background-color: #6ab3ac;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;

    p {
      margin-bottom: 0;
      font-size: 13px;
    }

    i {
      font-size: 1.7rem;
      color: #fff;
      margin-left: 1.5rem;
    }
  }
}

// End Of Footer
//======================================================= //

/*
/******************************************************************************/

 /* about.html page
*/

// sub-header //
#sub-header {
  background-color: $secondary-bg;
  color: $blue-secondary-text;
  padding: 2rem 0;

  .row {
    h6 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
    }

    .breadcrumb {
      margin: 0;
      padding: 0;

      li {
        color: $blue-secondary-text;
        font-size: .8rem;

        a {
          text-decoration: none;
          color: $blue-secondary-text;
        }
      }
    }

    .col:first-child {
      &::before {
        content: "";
        border-top: 16px solid $secondary-bg;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        left: 0;
        position: absolute;
        display: inline-block;
        bottom: -46px;
      }
    }
  }
}

// End Of sub-header
//======================================================= //

// about-heading //
#about-heading, #services-heading {
  margin-top: 4rem;

  .col {
    @media (min-width: 425px) and (max-width: 575.98px) {
      text-align: center;

      h2 {
        font-size: 1.6rem;
      }
    }

    @media (min-width: 375px) and (max-width: 424.98px) {
      text-align: center;

      h2 {
        font-size: 1.4rem;
      }
    }

    @media (max-width: 374.98px) {
      text-align: center;

      h2 {
        font-size: 1.1rem;
      }
    }

    h2 {
      font-weight: 600;
      color: $red-secondary;
    }

    p {
      color: $blue-secondary-text;
      font-size: .9rem;
    }
  }

  .second-about {
    margin-top: 4rem;
  }
}

// End Of about-heading
//======================================================= //

// our-team //
#our-team, #pricing-tables {
  background-color: $secondary-bg;
  padding-top: 4rem;
  height: 23.3rem;
  margin-bottom: 16rem;
  margin-top: 4rem;

  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-bottom: 40rem;
  }

  @media (max-width: 575.98px) {
    margin-bottom: 90rem;
  }

  h1 {
    text-align: center;
    color: $blue-secondary-text;
    font-weight: 800;
    margin-bottom: 4rem;
  }

  .row {
    position: relative;

    .card {
      background-color: #f8f8f8;
      border: 0;
      border-bottom: 4px solid #e5e6e6;
      border-radius: 5px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      position: relative;
      box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
      transition: box-shadow .2s ease-in-out;
      height: 120%;
      width: 100%;

      .card-body {
        padding-bottom: 1.5rem;
        padding: 0;

        .overlay {
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          background-color: #90d1cb;
          overflow: hidden;
          width: 100%;
          height: 0;
          border-radius: 2px;
          transition: 1s ease;

          .overlay-info {
            color: #fff;
            padding: 2rem 1rem;
            font-size: .8rem;
            font-style: italic;
            text-align: left;
          }

          .overlay-social {
            margin-top: 2rem;

            li {
              background-color: #81bcb6;
              border-radius: 5px;
              margin: 4px;
              height: 2.6rem;
              width: 2.6rem;
              padding-top: 9px;

              i {
                color: #fff;
                font-size: 1.5rem;
              }
            }
          }
        }

        button {
          background-color: $blue-primary-text;
          border-bottom: 4px solid $blue-secondary-text;
          bottom: -25px;
          color: white;
          left: 38px;
          padding: .6rem 2.5rem;
          position: absolute;
          width: 70%;
          height: 16%;
        }
      }

      &:hover, &.active {
        background-color: white;
        box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);

        .card-body {
          padding: 0;

          .overlay {
            bottom: 0;
            height: 100%;
          }

          button {
            background-color: $red-primary;
            border-bottom-color: $red-secondary;
          }
        }
      }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
      .card {
        .card-body {
          .overlay {
            .overlay-info {
              padding-bottom: 0;
            }

            .overlay-social {
              margin-top: 0;

              li {
                margin: 2px;
                height: 2.1rem;
                width: 2.1rem;
                padding-top: 6px;

                i {
                  font-size: 1.1rem;
                }
              }
            }
          }

          button {
            padding: .3rem 1rem;
            width: 63%;
          }
        }
      }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      .card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .card-body {
          button {
            padding: .6rem 2.8rem;
          }
        }
      }
    }

    @media (min-width: 425px) and (max-width: 575.98px) {
      .card {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        .card-body {
          button {
            padding: .6rem 3.2rem;
          }
        }
      }
    }

    @media (min-width: 375px) and (max-width: 424.98px) {
      .card {
        width: 75%;
        margin-left: auto;
        margin-right: auto;

        .card-body {
          button {
            padding: .6rem 2.5rem;
          }
        }
      }
    }

    @media (min-width: 411px) and (max-width: 414px) {
      .card {
        .card-body {
          button {
            padding: .6rem 3.6rem;
          }
        }
      }
    }

    @media (max-width: 374.98px) {
      .card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .card-body {
          button {
            padding: .6rem 2.6rem;
          }
        }
      }
    }

    @media (min-width: 359.98px) and (max-width: 360px) {
      .card {
        .card-body {
          button {
            padding: .6rem 3.6rem;
          }
        }
      }
    }
  }
}

// End Of our-team
//======================================================= //

// second-heading //
#second-heading {
  margin-bottom: 3rem;

  h1 {
    font-weight: 300;
    color: $red-secondary;
  }

  p {
    color: $blue-secondary-text;
    font-size: .9rem;
  }
}

// End Of second-heading
//======================================================= //

/* End Of about.html Page
======================================================= */

/*
/******************************************************************************/

/* services.html page
*/

#pricing-tables {
  .card {
    .card-body {
      ul {
        li {
          background-color: unset;
          font-size: 14px;
          color: $blue-secondary-text;
          border-color: rgba(0, 0, 0, 0.05);
        }
      }

      button.btn-top {
        bottom: 90%;
      }

      &:hover {
        background-color: #90d1cb;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        ul {
          li {
            color: #fff;
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
      .card-body {
        ul {
          li {
            font-size: 13px;
            padding-right: .3px;
            padding-left: .3px;
          }
        }

        button {
          padding: .3rem 1rem;
          width: 63%;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    .col-md-6 {
      margin-bottom: 6rem;
    }
  }
}

/* End Of services.html Page
======================================================= */

/*
/******************************************************************************/

/* portfolio-1col.html page
*/

#navigation-top {
  margin-top: 3rem;

  .navigation-btns {
    button {
      background-color: $blue-primary-text;
      color: #fff;
      border-bottom: 3px solid $blue-secondary-text;
      font-size: .9rem;
      padding-bottom: .2rem;
      padding-top: .2rem;

      &.active {
        background-color: $blue-primary-link-hover;
        border-bottom-color: $blue-primary-link-borders;
      }

      &:hover {
        background-color: $red-primary;
        border-bottom: 3px solid $red-secondary;
      }
    }
  }
}

#items {
  margin-top: 3rem;

  .row {
    .col-lg-6, .col {
      img {
        border-bottom: 4px solid #e5e6e6;
        border-radius: 5px;
        height: 270px;
        width: 570px;
      }

      h6 {
        color: $blue-secondary-text;
        font-size: 1.2rem;
        font-weight: 600;
      }

      p {
        color: $blue-secondary-text;
        font-size: .8rem;
      }

      .row {
        .col {
          a {
            text-decoration: none;
            color: $blue-secondary-text;
            font-size: 1.2rem;
            font-weight: 600;

            i {
              padding: 8px;
              background-color: $blue-primary-link-borders;
              border-radius: 5px;
              color: #fff;
              font-size: 1.5rem;
            }

            &:hover {
              color: $red-secondary;

              i {
                background-color: $red-secondary;
              }
            }
          }

          button {
            background-color: $blue-primary;
            border-bottom: 4px solid $blue-primary-link-hover;
            color: white;
            padding: .8rem 3rem;
            font-size: 1rem;

            &:hover {
              background-color: $red-primary;
              border-bottom: 4px solid $red-secondary;
            }
          }
        }

        @media (min-width: 1200px) {
          margin-top: 4.5rem !important;
        }

        @media (min-width: 992px) and (max-width: 1199.98px) {
          .col {
            a {
              font-size: 1rem;

              i {
                font-size: 1.3rem;
              }
            }

            button {
              font-size: .8rem;
            }
          }
        }

        @media (min-width: 375px) and (max-width: 575.98px) {
          .col {
            &:first-child {
              padding-right: 0;
            }

            &:last-child {
              padding-left: 10px;
            }

            a {
              font-size: .8rem;

              i {
                font-size: .7rem;
              }
            }

            button {
              font-size: .8rem;
            }
          }
        }

        @media (max-width: 374.98px) {
          .col {
            &:last-child {
              margin-top: 1rem !important;
            }

            a {
              font-size: .8rem;

              i {
                font-size: .7rem;
              }
            }

            button {
              font-size: .8rem;
            }
          }
        }
      }
    }
  }
}

#pagination {
  margin-top: 5rem;

  .pagination {
    li {
      margin-right: 1rem;

      .page-link {
        background-color: #98a3a3;
        color: #fff;
        border: none;
        border-bottom: 3px solid #7f8c8c;
        font-size: 1rem;
        border-radius: 5px;
        font-weight: 700;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;

        i {
          font-weight: 800;
          font-size: 1.6rem;
        }

        &.active {
          background-color: $blue-primary-link-hover;
          border-bottom-color: $blue-primary-link-borders;
        }

        &:hover {
          background-color: $red-primary;
          border-bottom: 3px solid $red-secondary;
        }
      }

      @media (max-width: 374.98px) {
        margin-right: .5rem;
      }
    }
  }
}

/* End of portfolio.html page
======================================================= */

/*
/******************************************************************************/

/* portfolio-2col.html page
*/

#items {
  .card-deck {
    .card {
      border-bottom: 3px solid #e5e6e6 !important;
      border-radius: 5px !important;

      .card-body {
        img {
          height: 270px;
          width: 570px;
        }

        .overlay {
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          background-color: #90d1cb;
          overflow: hidden;
          width: 100%;
          height: 0;
          border-radius: 5px;
          transition: 1s ease;
          text-align: center;

          .container {
            margin-top: 20%;

            .overlay-links {
              margin-top: 2rem;

              li {
                background-color: #81bcb6;
                border-radius: 5px;
                margin: 4px;
                height: 2.6rem;
                width: 2.6rem;
                padding-top: 9px;

                &:hover {
                  background-color: $red-secondary;
                }

                i {
                  color: #fff;
                  font-size: 1.5rem;
                }
              }
            }

            .overlay-info {
              color: #fff;
              padding: 2rem 1rem;
              font-size: 1rem;
              font-weight: 600;
            }
          }
        }
      }

      &:hover, &.active {
        .overlay {
          bottom: 0;
          height: 100%;
        }
      }
    }
  }
}

/* End of portfolio-2col.html page
======================================================= */
