// variables
$blue-primary: #76c7c0;
$blue-secondary: #62bdbd;
$blue-primary-link-hover: #62a29e;
$blue-primary-link-borders: #528b86;
$blue-primary-text: #7f8c8c;
$blue-secondary-text: #777;
$red-primary: #e8645a;
$red-secondary: #e2534b;
$red-primary-text: #e1524b;
